/* Variables */

// Bootstrap
$enable-responsive-font-sizes: true !default;

// CSS
$main-font: "Fugaz One", cursive;
$small-font: 0.9em;

// Colors
$twitter-color: #1da1f2;
$youtube-color: #ff0000;
$reddit-color: #ff4500;
