@import "../../styles/variables";
@import "../../styles/mixins";

// SCSS Itself

html .title {
  font-family: $main-font;
}

.launch-info-banner > div > span {
  font-size: $small-font;
  color: rgba(255, 255, 255, 0.5) !important;
}

.ic-twitter {
  @include iconDoughnut();
  &:hover {
    @include iconDoughnutHover($twitter-color);
  }
}
.ic-youtube {
  @include iconDoughnut();
  &:hover {
    @include iconDoughnutHover($youtube-color);
  }
}
.ic-reddit {
  @include iconDoughnut();
  &:hover {
    @include iconDoughnutHover($reddit-color);
  }
}

.clock {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.4s cubic-bezier(0.4, 0, 0, 1.7);
}
